{{ define "layout/footer.tmpl" }}
<footer class="footer">
  <div class="container-fluid d-flex justify-content-between">
    <div class="copyright">
      Aura Motor 
    </div>
  </div>
</footer>
{{ end }}